.jumbotron{
    margin-bottom: 30px;
    padding-bottom:30px;
    padding-top: 30px;
    background:#C7A700;
}
.top-bar{
    margin-top:-30px;
    text-align:center;

}
.top-bar-section{
    display:inline-block;

}
.active1{
    background: #54524D;;
}